.csc-container{
    width: 1020px;
    height: 300px;
    background-color: #282828;
    border-radius: 1rem;
}

.csc-title{
    font-size: 32px;
    text-align: left;
    padding: 3rem 3rem 0 3rem;
}

.csc-description{
    text-align: left;
    padding: 0 3rem;
}

.csc-list{
    list-style: none;
    text-align: left;
    padding: 0 3rem;
}