.banner-container {
  display: flex;
  width: 1020px;
  height: 200px;
  border-radius: 1rem;
  background: rgb(195, 3, 4);
  background: radial-gradient(
    circle,
    rgba(195, 3, 4, 1) 0%,
    rgba(53, 1, 0, 1) 75%
  );
  margin-bottom: 2rem;
}

.banner-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  text-align: left;
}

.banner-title {
  padding-left: 3rem;
  font-size: 32px;
  line-height: 0;
}

.banner-description {
  padding-left: 3rem;
  padding-right: 1rem;
}

.banner-image-container {
  width: 50%;
  overflow: visible;
}

.banner-image {
  margin-top: -10px;
}
